/*
* Styling jSongList
*/


body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BEBEBE;
  display: block;
  padding: 10pt;
  text-align: center;

  margin-left: auto;
  margin-right: auto
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
  background-color: #DACFE5;
  display: block;
  width: 500px;
  padding: 10pt;
  border: 3px solid #0D3427;
 
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  display: block;
  color: #0D3427;
  font-weight: bold;
}

#display{
	background-color: #DACFE5;
}